@font-face {
font-family: 'IBMPlexMono';
src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
url("/fonts/IBMPlexMono-Regular.woff") format("woff");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'IBMPlexMonoItalic';
src: url('/fonts/IBMPlexMono-Italic.woff2') format('woff2'),
url("/fonts/IBMPlexMono-Italic.woff") format("woff");
font-weight: 400;
font-style: italic;
}
body {
	font-family: "IBM Plex Mono", IBMPlexMono, monospace;
	#font-family: sans;
	font-size: 1em;
	background-color: #e8e8e8;
	color: #0d0d0d;
}
header, nav, article, section, footer {
	width: 35%;
	margin: 2em auto 2em auto;
}
section.archive {
	margin-top: -2em;
}
header a#sq {
	display: block;
	width: 3em;
	height: 3em;
	background-color: black;
	border: 0.7em solid white;
	margin: 2em 0 0 0;
}
header a#sq:hover {
	border-color: deeppink;
	background-color: cyan;
}
ul.postlist, ul.links, ul.archivelist {
	list-style: none;
	padding-left: 0;
}
ul.postlist li, ul.links li, ul.archivelist li {
	margin-bottom: 0.5em;
}
p {
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.55em;
	margin-top: 1.5em;
}
ul {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 2em;
}
ul li {
	margin-bottom: 0.5em;
}
article a, section a, footer a {
	display: inline-block;
	text-align: left;
	text-justify: none;
	text-decoration: none;
	color: #0d0d0d;
	border-right: 0.13em solid darkgrey;
	border-bottom: 0.13em solid darkgrey;
	border-top: 0.13em solid #fcfcfc;
	border-left: 0.13em solid #fcfcfc;
	padding: 0em 0.3em 0em 0.3em;
	line-height: 1.5em;
}
article a:hover, section a:hover, footer a:hover {
	border: none;
	background-color: #ddd;
	border-right: 0.13em solid #fcfcfc; 
	border-bottom: 0.13em solid #fcfcfc;
	border-top: 0.13em solid darkgrey;
	border-left: 0.13em solid darkgrey;
}
blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 5px solid;
}
figure a, figure a:hover {
	border: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
figure {
	width: 100%;
	margin: 0 0 0 0;
}
article img {
	display: block;
	max-width: 100%;
	margin: 0 auto 0 auto;
}
h1, h2, h3 {
	font-size: 1.1em;
	padding-top: 2.2em;
	height: 2.2em;
	display: table-cell;
	position: relative;
	overflow: hidden;
}
h1:after, h2:after, h3:after {
	content: "=====================================================================================";
	position: absolute;
	bottom: 0px;
	left: 0;

}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre, code {
	font-family: "IBM Plex Mono", IBMPlexMono, monospace;
	background-color: #f7f7f7;
	font-size: 1em;
	color: #0d0d0d;
	padding: 0.1em 0.5em 0.1em 0.5em;
}
pre {
	display: inline-block;
}
.aside {
	border: 2px solid silver;
	padding: 2em;
	margin-bottom: 1.5em;
}
.ytvid {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1600px) {
	header, article {
		width: 80%;
	}
}
